name: hello_world_cli
description: A sample CLI app integrating LangChain.
version: 1.0.0
publish_to: none

environment:
  sdk: ">=3.6.0 <4.0.0"
resolution: workspace

dependencies:
  langchain: ^0.7.8
  langchain_openai: ^0.7.4+1
