name: hello_world_cli
description: A sample CLI app integrating LangChain.
version: 1.0.0
publish_to: none

environment:
  sdk: ">=3.8.0 <4.0.0"
resolution: workspace

dependencies:
  langchain: ^0.8.1
  langchain_openai: ^0.8.1
