name: langchain_firebase_example
description: Example project to show how to use the Firebase integration module for LangChain.dart
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: ">=3.4.0 <4.0.0"
  flutter: ">=3.22.0"

dependencies:
  cupertino_icons: ^1.0.6
  firebase_core: ^3.3.0
  flutter:
    sdk: flutter
  flutter_markdown: ^0.7.3
  langchain: 0.7.6
  langchain_firebase: 0.2.1+2

dev_dependencies:
  flutter_lints: ^3.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/
