name: langchain
description: Build powerful LLM-based Dart and Flutter applications with LangChain.dart.
version: 0.7.9
repository: https://github.com/davidmigloz/langchain_dart/tree/main/packages/langchain
issue_tracker: https://github.com/davidmigloz/langchain_dart/issues
homepage: https://github.com/davidmigloz/langchain_dart
documentation: https://langchaindart.dev

funding:
  - https://github.com/sponsors/davidmigloz

topics:
  - ai
  - nlp
  - llms
  - langchain

environment:
  sdk: ">=3.6.0 <4.0.0"
resolution: workspace

dependencies:
  characters: ^1.4.0
  collection: ^1.19.1
  crypto: ^3.0.6
  langchain_core: 0.3.9
  meta: ^1.16.0
  uuid: ^4.5.1

dev_dependencies:
  test: ^1.25.15
  langchain_community: ^0.3.4+2
  langchain_openai: ^0.7.6
  langchain_ollama: ^0.3.3+2
