name: langchain
description: Build powerful LLM-based Dart and Flutter applications with LangChain.dart.
version: 0.7.7
repository: https://github.com/davidmigloz/langchain_dart/tree/main/packages/langchain
issue_tracker: https://github.com/davidmigloz/langchain_dart/issues
homepage: https://github.com/davidmigloz/langchain_dart
documentation: https://langchaindart.dev

topics:
  - ai
  - nlp
  - llms
  - langchain

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  characters: ^1.3.0
  collection: ^1.18.0
  crypto: ^3.0.3
  langchain_core: 0.3.6
  meta: ^1.11.0
  uuid: ^4.5.1

dev_dependencies:
  test: ^1.25.8
  langchain_community: ^0.3.2
  langchain_openai: ^0.7.2+1
  langchain_ollama: ^0.3.2
