.sidebar-nav {
  margin-left: 15px;
}

.sidebar ul {
  margin-left: 10px;
  padding: 0;
}

.sidebar-nav li {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer
}

.sidebar-nav li.folder {
  font-size: 14px;
}

.sidebar-nav ul:not(.app-sub-sidebar) > li:not(.file)::before {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  left: -10px;
  height: 4px;
  width: 4px;
  border-right: 1px solid #505d6b;
  border-bottom: 1px solid #505d6b;
  transform: rotate(-45deg);
  transition: transform .1s
}

.sidebar-nav ul:not(.app-sub-sidebar) > li.open::before {
  transform: rotate(45deg)
}

.sidebar-nav ul:not(.app-sub-sidebar) > li.collapse::before {
  transform: rotate(-45deg)
}
