name: langchain_google
description: LangChain.dart integration module for Google (Gemini, Gemma, VertexAI, Vector Search, etc.).
version: 0.6.4+2
repository: https://github.com/davidmigloz/langchain_dart/tree/main/packages/langchain_google
issue_tracker: https://github.com/davidmigloz/langchain_dart/issues?q=label:p:langchain_google
homepage: https://github.com/davidmigloz/langchain_dart
documentation: https://langchaindart.dev

funding:
  - https://github.com/sponsors/davidmigloz

topics:
  - ai
  - nlp
  - llms
  - langchain
  - vertex-ai

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  collection: ^1.18.0
  gcloud: ^0.8.13
  google_generative_ai: ^0.4.6
  googleapis: ^13.0.0
  googleapis_auth: ^1.6.0
  http: ^1.3.0
  langchain_core: 0.3.6+1
  meta: ^1.11.0
  uuid: ^4.5.1
  vertex_ai: ^0.1.0+3

dev_dependencies:
  test: ^1.25.8
