name: langchain_google
description: LangChain.dart integration module for Google (VertexAI, PaLM, Matching Engine, etc.).
version: 0.5.0
repository: https://github.com/davidmigloz/langchain_dart/tree/main/packages/langchain_google
issue_tracker: https://github.com/davidmigloz/langchain_dart/issues?q=label:p:langchain_google
homepage: https://github.com/davidmigloz/langchain_dart
documentation: https://langchaindart.dev

topics:
  - ai
  - nlp
  - llms
  - langchain
  - vertex-ai

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  collection: ">=1.17.0 <1.19.0"
  fetch_client: ^1.0.2
  gcloud: ^0.8.12
  google_generative_ai: 0.4.0
  googleapis: ^12.0.0
  googleapis_auth: ^1.5.1
  http: ^1.1.0
  langchain_core: ^0.3.1
  meta: ^1.11.0
  uuid: ^4.3.3
  vertex_ai: ^0.1.0
  langchain_firebase: ^0.1.0
  firebase_core: ^2.31.0

dev_dependencies:
  test: ^1.24.9
  fake_cloud_firestore: ^2.5.1
  langchain: ^0.6.0+1
