name: langchain_google
description: LangChain.dart integration module for Google (Gemini, Gemma, VertexAI, Vector Search, etc.).
version: 0.7.1+2
repository: https://github.com/davidmigloz/langchain_dart/tree/main/packages/langchain_google
issue_tracker: https://github.com/davidmigloz/langchain_dart/issues?q=label:p:langchain_google
homepage: https://github.com/davidmigloz/langchain_dart
documentation: https://langchaindart.dev

funding:
  - https://github.com/sponsors/davidmigloz

topics:
  - nlp
  - gen-ai
  - llms
  - langchain
  - vertex-ai

environment:
  sdk: ">=3.8.0 <4.0.0"
resolution: workspace

dependencies:
  collection: ^1.19.1
  gcloud: ^0.9.0
  googleai_dart: ^3.0.0
  googleapis: ^15.0.0
  googleapis_auth: ^2.0.0
  http: ^1.5.0
  langchain_core: 0.4.1
  meta: ^1.16.0
  uuid: ^4.5.1
  vertex_ai: ^0.2.0+1

dev_dependencies:
  test: ^1.26.2
