name: langchain_google
description: LangChain.dart integration module for Google (VertexAI, PaLM, Matching Engine, etc.).
version: 0.3.0
repository: https://github.com/davidmigloz/langchain_dart/tree/main/packages/langchain_google
issue_tracker: https://github.com/davidmigloz/langchain_dart/issues?q=label:p:langchain_google
homepage: https://github.com/davidmigloz/langchain_dart
documentation: https://langchaindart.com

topics:
  - ai
  - nlp
  - llms
  - langchain
  - vertex-ai

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  collection: '>=1.17.0 <1.19.0'
  gcloud: ^0.8.12
  googleai_dart: ^0.0.4
  googleapis: ^12.0.0
  googleapis_auth: ^1.5.1
  http: ^1.1.0
  langchain_core: ^0.1.0
  meta: ^1.11.0
  uuid: ^4.3.3
  vertex_ai: ^0.1.0

dev_dependencies:
  test: ^1.25.2
