name: langchain_huggingface
description: Hugging Face module for LangChain.dart.
version: 0.0.1-dev.1
repository: https://github.com/davidmigloz/langchain_dart/tree/main/packages/langchain_huggingface
issue_tracker: https://github.com/davidmigloz/langchain_dart/issues?q=label:p:langchain_huggingface
homepage: https://github.com/davidmigloz/langchain_dart
documentation: https://langchaindart.dev
publish_to: none # Remove when the package is ready to be published

funding:
  - https://github.com/sponsors/davidmigloz

topics:
  - nlp
  - gen-ai
  - llms
  - langchain

environment:
  sdk: ">=3.8.0 <4.0.0"
resolution: workspace
