name: Deploy docs_v2

on:
  push:
    branches:
      - main
    paths:
      - 'docs_v2/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - run: npm ci && npm run build
        working-directory: docs_v2
      - uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_LANGCHAIN_DART }}
          channelId: live
          projectId: langchain-dart
          entryPoint: docs_v2
